:root {
  --bflix-darker: #0d0d0d;
  --bflix-dark: #141414;
  --bflix-secondary: rgb(58, 58, 58);
  --bflix-light: white;
  --bflix-warning: #ffaa00;
  --bflix-danger: #d54300;
}

html {
  scrollbar-color: var(--bflix-secondary) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bflix-darker);
  font-family: "Open Sans", sans-serif;
}

/* utilities ----------------------------------> */

.container {
  max-width: 1920px;
  width: 90%;
  margin: auto;
}

.is-active {
  color: var(--bflix-secondary);
}

.hero-go-up {
  bottom: 725px;
  transition: bottom 1s ease;
}

.hero-go-down {
  bottom: 0;
  transition: bottom 1s ease;
}

.movies-go-up {
  bottom: 500px;
  transition: bottom 1s ease;
}

.movies-go-down {
  bottom: 0;
  transition: bottom 1s ease;
}


/* transitions --------------------------------> */

.genreBar-enter-active,
.genreBar-leave-active {
  transition: all 0.5s ease;
}

.genreBar-enter-from,
.genreBar-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}

.cards-enter-active,
.cards-leave-active {
  transition: all .5s ease;
}

.cards-enter-from,
.cards-leave-to {
  opacity: 0;
  transform: translatey(500px);
}

.inputIcon-enter-active,
.inputIcon-leave-active {
  transition: all .25s ease;
}

.inputIcon-enter-from,
.inputIcon-leave-to {
  opacity: 0;
  scale: 0.2;
}


.hero-enter-active,
.hero-leave-active {
  transition: opacity 1s ease;
}

.hero-enter-from,
.hero-leave-to {
  opacity: 0;
}